* {
  font-family: monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  widows: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  transition: all 0.2s;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

button + button {
  margin-top: 10px;
}

input:focus {
  outline: none;
}
